<!DOCTYPE html>
<html>
<body>

<h1>Show Checkboxes</h1>

<form action="/">
  Name : <input name="name" /><br>  
            First Number  : <input name="n1" /><br>  
            Second Number : <input name="n2" /><br>  
            Operation : <select name="operation">
                <option value="add" > Addition </option>
                <option value="sub" > Subtraction </option>
                <option value="mul" > Multiplication </option>
                <option value="div" > Division </option>
            </select>
  <input type="submit" value="Submit">
</form>

</body>
</html>
